<aside
    class="absolute left-0 top-0 z-9999 flex h-screen w-72.5 flex-col overflow-y-hidden bg-black duration-300 ease-linear dark:bg-boxdark lg:static lg:translate-x-0">
    <!-- SIDEBAR HEADER -->
    <div class="flex items-center justify-between p-10">
        <img
            src="./images/logo/logo.svg"
            alt="Logo" />
    </div>
    <!-- SIDEBAR HEADER -->

    <div
        class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear">
        <!-- Sidebar Menu -->
        <div class="px-4">
            <h3 class="mb-4 ml-4 text-xl font-medium text-white">
                Filter Laporan
            </h3>

            <ul class="flex flex-col gap-1.5">
                <!-- Menu Item Dashboard -->
                <li>
                    <a
                        class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark2 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
                        Kondisi
                    </a>
                    <div class="ml-4">
                        <label
                            class="flex items-center space-x-2 hover:bg-graydark dark:hover:bg-meta-4">
                            <input
                                type="checkbox"
                                class="form-checkbox"
                                name="condition"
                                value="GOOD" />
                            <span>Good</span>
                        </label>
                        <label
                            class="mt-2 flex items-center space-x-2 hover:bg-graydark dark:hover:bg-meta-4">
                            <input
                                type="checkbox"
                                class="form-checkbox"
                                name="condition"
                                value="BAD" />
                            <span>Bad</span>
                        </label>
                    </div>
                </li>
                <li>
                    <a
                        class="group relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium text-bodydark2 duration-300 ease-in-out hover:bg-graydark dark:hover:bg-meta-4">
                        Kategori
                    </a>
                    <div class="ml-4">
                        <label
                            class="flex items-center space-x-2 hover:bg-graydark dark:hover:bg-meta-4">
                            <input
                                type="checkbox"
                                class="form-checkbox"
                                name="category"
                                value="SIDEWALK" />
                            <span>Trotoar</span>
                        </label>
                        <label
                            class="flex items-center space-x-2 hover:bg-graydark dark:hover:bg-meta-4">
                            <input
                                type="checkbox"
                                class="form-checkbox"
                                name="category"
                                value="PELICAN_CROSSING" />
                            <span>Pelican Crossing</span>
                        </label>
                        <label
                            class="flex items-center space-x-2 hover:bg-graydark dark:hover:bg-meta-4">
                            <input
                                type="checkbox"
                                class="form-checkbox"
                                name="category"
                                value="ZEBRA_CROSS" />
                            <span>Zebra Cross</span>
                        </label>
                        <label
                            class="flex items-center space-x-2 hover:bg-graydark dark:hover:bg-meta-4">
                            <input
                                type="checkbox"
                                class="form-checkbox"
                                name="category"
                                value="PEDESTRIAN_BRIDGE" />
                            <span>JPO</span>
                        </label>
                        <label
                            class="flex items-center space-x-2 hover:bg-graydark dark:hover:bg-meta-4">
                            <input
                                type="checkbox"
                                class="form-checkbox"
                                name="category"
                                value="GUIDING_BLOCK" />
                            <span>Guiding block</span>
                        </label>
                        <label
                            class="flex items-center space-x-2 hover:bg-graydark dark:hover:bg-meta-4">
                            <input
                                type="checkbox"
                                class="form-checkbox"
                                name="category"
                                value="OTHER" />
                            <span>Lainnya</span>
                        </label>
                    </div>
                </li>
                <!-- Menu Item Dashboard -->
            </ul>
            <button
                class="mt-4 w-full rounded bg-blue-500 py-2 text-white hover:bg-blue-600"
                id="filter-btn">
                Filter
            </button>
            <button
                class="mt-2 w-full rounded bg-red-300 py-2 text-white hover:bg-red-400"
                id="clear-filter-btn">
                Hapus Filter
            </button>
        </div>
        <!-- Sidebar Menu -->
    </div>
</aside>
